.x-app {
  text-align: center;
}

.x-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
  justify-content: center;
  min-height: 10vh;
}

.x-content {
  margin: 5px auto;
}

.x-search {
  margin-bottom: 30px;
}

.x-search input {
  font-size: 30px;
  padding: 10px;
  width: 100%;
}
