@import '~antd/dist/antd.css';

.x-app {
  text-align: center;
}

.x-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
  justify-content: center;
  min-height: 10vh;
}

.x-header h1 {
  color: white
}

.x-content {
  padding: 0 50px;
  margin-top: 10px;
}

.x-search-field {
  margin-bottom: 20px;
}

.x-anime-list {
  margin-bottom: 10px;
}
.x-anime-list-item {
  margin-bottom: 16px;
}
