@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.x-app {
  text-align: center;
}

.x-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
  justify-content: center;
  min-height: 10vh;
}

.x-header h1 {
  color: white
}

.x-content {
  padding: 0 50px;
  margin-top: 10px;
}

.x-search-field {
  margin-bottom: 20px;
}

.x-anime-list {
  margin-bottom: 10px;
}

.x-anime-container {
  margin-bottom: 16px;
}

.x-anime-info label {
  color: #1abc9c;
  font-weight: bold;
}
